@import "partials/custom";
@import "partials/app";
@import "partials/nav";
@import "partials/home";
@import "partials/search";
@import "partials/footer";
@import "partials/hotelCard";

main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: $secondary-color;

  h1 {
    text-align: center;
  }
}
