// colors
$primary-color: #f68e5f;
$secondary-color: #fff5d3;
$footer-color: #fabca0;
$cta-color: #196b89;
$text-color: #3c3c3c;
$heading-color: #1d1d1d;

$font: "Poppins", sans-serif;
$font-text: "Helvetica Neue", serif;

$text-p: 16px;
$text-s-head: 20px;
$text-head: 24px;
