.hotel-page-container {
  max-width: 1140px;
  background-color: $secondary-color;
  margin: 0 auto 4rem auto;
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .admin-title {
    display: none;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;

    .filter-button {
      margin-top: 2rem;
      margin-bottom: 4rem;
      background-color: $footer-color;
      border: none;
      transition: 0.3s;
    }

    .filter-button:hover {
      opacity: 0.8;
    }
    .filter-button:focus {
      box-shadow: none;
    }
  }
  .filter-choice-visible {
    display: flex;
    margin: 0 auto 2rem auto;
    padding: 2rem;
    width: 700px;
    background-color: $footer-color;
    border-radius: $border-radius;
    justify-content: space-around;

    .brand-alternatives-button {
      background-color: $secondary-color;
      border: none;
      color: $text-color;
      transition: 0.3s;
    }
    .brand-alternatives-button:hover {
      opacity: 0.8;
    }
  }
  .filter-choice {
    display: none;
  }
  .add-hotels-container {
    max-width: 700px;
    margin: 0 auto;
    display: block;
    .add-hotels-button {
      background-color: $cta-color;
      border: none;
      transition: 0.3s;
      max-width: 700px;
      margin-bottom: 1rem;
    }
    .add-hotels-button:hover {
      opacity: 0.8;
    }
  }
}

@media screen and (max-width: 768px) {
  .hotel-page-container {
    .filter-container {
      max-width: 500px;
    }
    .filter-choice-visible {
      width: 500px;
      .brand-alternatives-button {
        margin: 0 0.2rem;
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .hotel-page-container {
    .filter-container {
      justify-content: space-around;
      min-width: 300px;

      .filter-button {
        max-width: 300px;
      }
    }
    .filter-choice-visible {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      .brand-alternatives-button {
        width: fit-content;
        margin: 0.5rem;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .hotel-page-container {
    .filter-container {
      flex-direction: column;

      .filter-button {
        margin: 1rem auto;
      }
      .filter-button:focus {
        box-shadow: none;
      }
    }
  }
}
