.search-container {
  width: 700px;
  border: none;
  display: flex;
  font-family: $font-heading;
  margin: 2rem auto 4rem auto;
  transition: 0.3s;

  .input {
    border-radius: 5px 0px 0px 5px;
    border: none;
    font-weight: bold;
    color: $text-color;
  }

  .input::placeholder {
    opacity: 0.4;
  }

  .input:focus {
    box-shadow: none;
  }

  .button {
    border-radius: 0px 5px 5px 0px;
    background-color: $cta-color;
    border: none;
  }
}

.search-container:hover {
  box-shadow: $box-shadow;
}

@media screen and (max-width: 768px) {
  .search-container {
    width: 500px;
  }
}

@media screen and (max-width: 540px) {
  .search-container {
    max-width: 300px;

    .input::placeholder {
      font-size: 16px;
    }
  }
}
