.login-container {
  background-color: $secondary-color;
  max-width: 1140px;
  margin: 0 auto;
  font-family: $font-heading;
  min-height: 100vh;
  padding-top: 4rem;

  .form-container {
    max-width: 700px;
    margin: 2rem auto 0 auto;
    background-color: white;
    padding: 2rem;
    border-radius: $border-radius;

    .dashboard-button {
      background-color: $cta-color;
      color: white;
      border: none;
      transition: 0.3s;
      border-radius: $border-radius;
      padding: 0.5rem;
      text-decoration: none;
    }
    .dashboard-button:hover {
      opacity: 0.8;
    }
    .group-input {
      margin-bottom: 1rem;
    }
    .label {
      font-weight: bold;
    }
    .input {
      font-size: 16px;
    }
  }
  .submit-button {
    background-color: $cta-color;
    border: none;
    transition: 0.3s;
  }
  .submit-button:hover {
    opacity: 0.8;
  }
}
