.search-container {
  max-width: 700px;
  border: none;
  display: flex;
  font-family: $font-heading;
  margin: 2rem auto 4rem auto;
  transition: 0.3s;

  .css-6j8wv5-Input {
    width: 663px;
  }

  .css-26l3qy-menu {
    margin-top: 1px;
  }
}

.search-container:hover {
  box-shadow: $box-shadow;
}

@media screen and (max-width: 768px) {
  .search-container {
    max-width: 500px;

    .css-6j8wv5-Input {
      width: 463px;
    }
  }
}

@media screen and (max-width: 540px) {
  .search-container {
    max-width: 300px;

    .input::placeholder {
      font-size: 16px;
    }
    .css-6j8wv5-Input {
      width: 263px;
    }
  }
}
@media screen and (max-width: 400px) {
  .search-container {
    margin: 1rem auto;
  }
}
